@tailwind base;
@tailwind components;
@tailwind utilities;
#bg{
    /* background: url("../public/bg1.png"); */
    background-color: white;
    /* background-size:100% ;
    height: auto;
    background-position: auto;
    background-repeat: no-repeat;    */
}
body{
background-image: url('../public/bg1.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed; 
}